
.featherC {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }
  .featherX {
    width: 24px;
    height: 24px;
    stroke: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: green;
  }
  h1 {
    width: 400px;
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 0px;
  }