<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="path/to/dist/feather.js"></script>

<nav>
  <div class="container">
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-itemH"><a class="nav-link" routerLink="home">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="play">Play</a></li>
      <li class="nav-itemR"><a class="nav-link" routerLink="register">Register</a></li>
    </ul>
  </div>
</nav>
<h1>Tic Tac Toe</h1>
<router-outlet></router-outlet>





</html>