$base-width: 400px;
.featherC {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }
  .featherX {
    width: 24px;
    height: 24px;
    stroke: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: green;
  }
  h1 {
    //width: $base-width;
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 0px;
    margin-top:0px;
  }
  nav
  {
   //width:$base-width;
  }
  ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:white; 
  }
  li {
    float:left;
     
  }
  .nav-itemR{
    float:right;
    
  }
  
  li a {
   display:block;
   padding: 6px 14px;
   background-color: white;
   text-align:center;
   text-decoration: none;
   color:black;
    
  }
  li a:hover{
    background-color: silver;
  }