<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="backGround">
  <h3>Player: {{ nextPlayer }} turn</h3>
  <div class="tableContainer">
    <table>
      <tr *ngFor="let row of numbers; index as i">
        <td *ngFor="let col of numbers; index as j">
          <app-cell (cellClicked)="cellIsClicked(i, j)" [sign]="nextPlayer">
          </app-cell>
        </td>
      </tr>
    </table>
  </div>
  <div></div>
  <h3 *ngIf="winner; else elseBlock">{{ displayMessage }}</h3>
  <ng-template #elseBlock>
    <h3>Game in progress</h3>
  </ng-template>
  <div class="buttonWrapper">
    <button (click)="resetGame($event)">New game</button>
  </div>
</div>